.user--container {
  margin: 5rem auto;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 0px rgb(0 0 0 / 20%);
  max-width: 50%;
}

.tab--container {
  display: flex;
}

.tab--container .tab--button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.tab--button:not(:last-child) {
  border-right: 1px solid;
}

.tab--container .tab--button:hover,
.tab--button.active {
  background-color: var(--primary--color);
}

.profile--container {
  padding: 2rem 1rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar--container {
  max-width: 100%;
  margin: 1rem auto;
}

.username {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.email--container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.email--label {
  font-weight: 600;
}
