/* Filter styles */

.filter--section {
  position: relative;
  padding: 2.5rem 1.5rem;
  max-width: 15rem;
  position: fixed;
  overflow-y: auto;
  height: 95%;
  top: 12vh;
  bottom: 0;
  transition: transform 0.5s ease;
}

.filter--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter--header .btn--clear {
  padding: 2px;
  border: none;
  background-color: transparent;
  font-weight: 600;
  text-decoration: underline;
}

.heading--4 {
  margin-bottom: 0.5rem;
}

/* main- container styles */
.main--container {
  margin: 2rem 2rem 2rem 14rem;
}

.input--primary input[type="radio"],
.input--primary input[type="checkbox"] {
  accent-color: var(--info-dark);
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  margin-left: 0.5rem;
}

/* Filter Responsiveness */
.filter--button {
  position: fixed;
  top: 25vh;
  z-index: 6;
  left: 0;
  cursor: pointer;
  background-color: var(--primary--light);
  font-size: 1.25rem;
  border: 1px solid var(--primary--color);
  transform: translateX(-50rem);
  transition: transform 0.5s ease;
}

.filter--close {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  top: 0.5rem;
  right: 1rem;
  display: none;
  padding: 2px;
}

.overlay {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Slider */

.range {
  margin-top: 2rem;
}
.slider {
  background: linear-gradient(
    to right,
    var(--info-dark) 0%,
    var(--info-dark) 100%,
    var(--info-light) 100%,
    var(--info-light) 100%
  );
  border-color: var(--info-dark);
}

.slider::-webkit-slider-thumb {
  background: var(--info-dark);
  box-shadow: 0px 0px 0px 0.15rem var(--info-light),
    0px 0px 0px 0.3rem var(--info-dark);
}

.slider::-moz-slider-thumb {
  background: var(--info-dark);
  box-shadow: 0px 0px 0px 0.15rem var(--info-light),
    0px 0px 0px 0.3rem var(--info-dark);
}

.range .sliderValue {
  position: relative;
  width: 100%;
}
.range .sliderValue span {
  position: absolute;
  color: var(--white);
  height: 2rem;
  width: 2rem;
  font-size: 0.6rem;
  top: -2.5rem;
  left: 97%;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  transform: translateX(-50%);
  z-index: 2;
}
.range .sliderValue span::after {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  background-color: var(--info-dark);
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.sliderLabels {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.sliderLabels span {
  font-size: 0.8rem;
}

.result--text {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 1100px) {
  .grid--4--cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 760px) {
  .open.filter--section {
    transform: translateX(0rem);
  }

  .open .filter--close {
    display: block;
  }

  .filter--section {
    top: 20vh;
    transform: translateX(-50rem);
    z-index: 10;
    background-color: var(--primary--light);
  }

  .filter--button {
    transform: translateX(0);
  }
  .main--container {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .grid--4--cols {
    grid-template-columns: 1fr;
  }
}
